absl-py
asttokens
astunparse
backcall
backports.functools-lru-cache
cachetools
certifi
charset-normalizer
colorama
contourpy
cycler
debugpy
decorator
executing
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jax
jedi
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
ml-dtypes
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
parso
pickleshare
Pillow
pip
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pywin32
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
scipy
setuptools
six
stack-data
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
wheel
wrapt
zipp